@import "tailwindcss";
html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
  font-family: Inter, sans-serif;
  color: #111827;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}